In [13]:
from sklearn.datasets import load_iris

In [14]:
iris=load_iris()

In [15]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [16]:
import pandas as pd

In [17]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [18]:
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [19]:
df['target']=iris.target

In [20]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [21]:
X = df.drop(['target'], axis='columns')

In [22]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [23]:
y=df.target

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [26]:
len(X_train)

105

In [27]:
len(X_test)

45

In [28]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import numpy as np

In [29]:
dtr = DecisionTreeRegressor()

In [30]:
lr = LogisticRegression()

In [31]:
rfc=RandomForestClassifier()

In [32]:
svm=SVC()

In [33]:
dtr.fit(X_train, y_train)
dtr.score(X_train, y_train)

1.0

In [34]:
lr.fit(X_train, y_train)
lr.score(X_train, y_train)

1.0

In [35]:
rfc.fit(X_train, y_train)
rfc.score(X_train, y_train)

1.0

In [36]:
svm.fit(X_train, y_train)
svm.score(X_train, y_train)

0.9904761904761905

In [37]:
from sklearn.model_selection import cross_val_score

In [38]:
dtr_scores=cross_val_score(DecisionTreeRegressor(), X_train, y_train)
np.average(dtr_scores)

0.9863636363636363

In [39]:
lr_scores=cross_val_score(LogisticRegression(), X, y)
np.average(lr_scores)

C:\Users\USER\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9733333333333334

In [40]:
rfc_scores=cross_val_score(RandomForestClassifier(), X, y)
np.average(rfc_scores)

0.96

In [41]:
svm_scores=cross_val_score( SVC(), X, y)
np.average(svm_scores)

0.9666666666666666